*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: aliceblue;
}
/* big-cont */
.big-cont {
    max-width: 2000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;

}

.big-cont img {
    width: 80px;
    height: 80px;
}

.norm-cont {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.btn-1 {
    width: 35px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.icon1 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.norm-cont i {
    font-size: 20px;
    cursor: pointer;
}

.norm-cont p {
    font-weight: 500;
}

.icon3 {
    width: 40px;
    height: 40px;
    background-color: rgb(139, 139, 139);
    border-radius: 50px;
    border: 1px solid black;
}

.nav-item a {
    margin-top: 20px;
}

.wrapper {
    display: flex;
    height: 100vh;
    background: #f4f7f9;
}
/* SIDEBAR */
.sidebar {
    width: 100px;
    background: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-item {
    padding: 15px 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item i {
    font-size: 40px;
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

.nav-item span {

    font-size: 10px;
    line-height: 1.3;
    display: block;
}

.nav-item:hover {
    color: #ff6b00;
    transform: scale(1.05);
}

/* MAIN AREA */
.far fa-calendar-ald {
    padding-top: 15px;
}

.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.header {
    margin-left: 30px;
    width: 1500px;
    margin-top: 20px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #eee;
}

.header-right {
    display: flex;
    align-items: center;
}

.icons-group {
    display: flex;
    color: #999;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.avatar {
    width: 32px;
    height: 32px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.btn {
    padding: 6px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.btn-pay {
    background: #b1b0af;
color: #000000;
}
.btn-pay:hover {
    background-color: yellow;
}

.btn-more {
    color: #ddd;
    background: #ffffff;
}

.btn-more:hover {
    background-color: #000000;
}


/* LAYOUT */
.search-bar {
    margin-top: 5px;
    width: 300px;
    border: 1px solid black;

}

.cal-nav {
    margin-top: -25px;
    margin-left: 600px;
}

.cal-nav button:hover {
    transform: scale(1.05);
    background-color: rgb(139, 139, 139);
}

.cal-nav button {
    cursor: pointer;
    border: 1px solid rgb(115, 115, 170);
    width: 60px;
    height: 30p
}
.search-bar i {
    margin-left: 220px;
}

.page-header {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}

.layout-grid {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 25px;
    padding: 0 25px;
    flex: 1;
}

.for {
    margin-top: 30px;
    height: 55px;
}

.for span {
    margin-top: 10px;
}


/* CARDS */
.left-card,
.right-card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 20px;
}

.course-info p {
    font-size: 13px;
    margin-bottom: 6px;
}

.student-list {

    margin-top: 15px;
}

.student-list i {
    color: green;
    margin-top: -3px;
    font-size: 10px;
}

.student-list li {

    font-size: 13px;
    padding: 10px 0;
    border-bottom: 1px solid #f9f9f9;
    display: flex;
    align-items: center;
}

.tel {
    margin-left: auto;
    color: #999;
    margin-right: 10px;
}
/* TABLE */


.tabs {
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.tab {
    padding-bottom: 10px;
    font-size: 13px;
    color: #999;
    cursor: pointer;
}

.att-table {
    width: 100%;

}

.att-table i {
    font-size: 20px;
    color: #666;

}

.att-table th {
    margin-top: -5px;
    font-size: 12px;
    color: #999;
    padding: 10px;

}

.att-table td {
    padding: 12px 5px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    font-size: 13px;
}

.att-table td:first-child {
    text-align: left;
}

/* TAGS */
.tag {
    padding: 4px 12px;
    border-radius: 4px;
    color: #fff;
    display:
        inline-block;
    cursor: pointer;
    transition: 0.2s;
    min-width: 50px;
}

.tag.was {
    background: #00ddff;
}

.tag.not {
    background: #ff0019;
}

.tag:hover {
    transform: translate(3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 auto;
}

/* FOOTER */
.footer {
    height: 60px;
    background: #fff;
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-left {
    display: flex;
    gap: 30px;
    font-size: 13px;
    color: #666;
}

.f-left i {
    color: #ff6b00;
}

.f-right {
    font-size: 20px;
    font-weight: bold;
    color: #ff5757;
}

.danger {
    color: #ff4d4d;
    font-weight: bold;
}

.note {
    width: 350px;
    height: 50pxpx;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 30px;
}

.norms {
    margin-left: 5px;
    background-color: #00ddff;
    width: 2px;
}

.zbb {
    padding-left: 10px;
}

.big-cont,
.wrapper {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
